[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "islandcodes"]
	path = islandcodes
	url = https://github.com/university-of-aruba/islandcodes
